<style type="text/css">
<!--
/* title header */
div.header {
	width: 100%;
	background: #000440 url(<?php echo $display[titlebar_img]; ?>)
		repeat-y
}


/* navigation bar */
div.nav {
	width: 100%;
	background: #00087f;
	padding: 2px;
	color: white;
	font: bolder 110% verdana, sans-serif
}
a.nav {
	color: #89ccff;
	text-decoration: none
}

-->
</style>
